{
http_port {{ http_port }}
https_port {{ https_port }}
{% if debug is defined and debug == 'True' %}debug{% endif %}
admin {{ admin_listener }}
log {
    output file {{ logpath }}/caddy.log
 }
}

{% for site in sites %}
{{ site.host }} {
    {{ site.type }} {{ site.internal }}
    log {
        output file {{ logpath }}/{{ site.name }}.log
    }
}
{% endfor %}